.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .contenido-principal {
    display: flex;
    flex-grow: 1;
  }
  
  .barra-lateral {
    flex-basis: 200px;
    background-color: #e9ecef;
    padding: 20px;
  }
  
  .barra-superior {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .barra-inferior {
    background-color: #ced4da;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .contenido {
    flex-grow: 1;
    background-color: #dee2e6;
    padding: 20px;
  }